python 3.7.0
---------------------
pip install tensorflow==1.14.0
pip install numpy
pip install scipy
pip install opencv-python==4.5.2.52
pip install pillow
pip install matplotlib
pip install h5py==2.10.0
pip install keras==2.3.1
pip install imutils
pip install imageai
pip install https://github.com/OlafenwaMoses/ImageAI/releases/download/2.0.2/imageai-2.0.2-py3-none-any.whl
